<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Logs</h1>
    <nav>
      <a href="/logs/new">Create New Entry</a>
    </nav>
  </body>
</html>
